{%extends 'base.html' %} {% block content %}

<div class="col-md-6 offset-md-3">
  {% if user.is_authenticated%}

  <h2>Welcome to D's Bills Manager</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Bill Name</th>
        <th scope="col">Due Date</th>
        <th scope="col">Bill Amount</th>
        <th scope="col">Category</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {%if bills%} 
        {% for bill in bills %} 
         <td> {{bill.bill_name}}</td>  
         <td> {{bill.bill_due_date}}</td>  
         <td> {{bill.bill_amount}}</td>  
         <td> {{bill.subcategory}}</td>  
         <td> {{bill.id}}</td>  
         {%endfor%} 
       {%endif%} 
      </tr>
    </tbody>
  </table>

  
  
  
  {%else%}
  <h1>Login</h1>
  <br />
  <form method="post" action="{% url 'home' %}">
    {%csrf_token %}
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </form>
</div>
{%endif%} {% endblock %}
